.app {
  text-align: center;
}

.app-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.mdl-textfield {
    margin: 50px;
    width: 25%;
}

.mdl-textfield__input {
    font-size: 20px;
    text-align: center;
}
