.driver-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
}

.driver-rating {
    text-align: center;
}

.driver-rating h2 {
    text-align: center;
    font-size: 3em;
}

.driver-rating .dv-star-rating {
    margin-top: 1em;
    font-size: 4em;
}

.dv-star-rating-star {
}

.login-wrapper {
    margin-top: 15px;
    text-align: center;
}

.profile-image {
    height: 150px;
    width: 150px;
}

.driver-page {
    padding-top: 1em;
}