.review-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
}

.review-name {
    margin: 0 0 10px;
}

.review-row {
    height: 50px;
    padding: 10px;
    text-align: left;
}
