.review-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
}

.review-card .mdl-card__supporting-text {
    margin-right: auto;
    margin-left: auto;
}

.review-name {
    margin: 0 0 10px;
    text-decoration: none;
}

.review-row {
    height: 50px;
    padding: 10px;
    text-align: left;
}

.review-user-image {
    width: 1.5em;
    height: 1.5em;
    display: inline;
    margin-right: 0.3em;
    vertical-align: bottom;
}

.write-review .dv-star-rating {
    margin-top: 1em;
    font-size: 4em;
}

.user-review-stars {
    font-size: 2em;
    margin-top: -1em;
    margin-bottom: 0.5em;
}
